include ../mixin/message

doctype html
html
    head
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body
        span=JSON.stringify(message)
        if messages.error
            +message({
                type:'error',
                text:message.error
            })
        else if messages.info
            +message({
                type:'info',
                text:message.info
            })
        else if messages.success
           +message({
                type:'success',
                text:message.success
           })

        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")