extends layout/main
include mixin/videoBlock

block content  
    .search__header
        if videos.length === 0
            h5 Not Videos Found
        each video in videos
           +videoBlock({
               title:video.title,
               views:video.views,
               videoFile:video.videoFile,
               id:video.id

           })