.flash-message__comtainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 9;
  &.error {
    background-color: #f1c40f;
  }
  &.success {
    background-color: #2ecc71;
  }
  &.info {
    background-color: #3498db;
  }
  .flash-message__text {
    color: white;
    font-weight: 600;
  }
}
