.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: left;
  video {
    width: 800px;
    height: 500px;
  }
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 15px;
    }
    .video__title,
    .video__views,
    .video__discription {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 300;
    }
    .video__views {
      font-size: 14px;
    }
    .video__discription {
      font-size: 16px;
    }
  }
  .video__comments {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    .video__comment-number {
      font-size: 18px;
    }
  }
  a {
    color: #00a8ff;
    font-weight: 600;
  }
  .video__comments-list {
    width: 100%;
    max-width: 500px;
    margin-top: 25px;
    .commentDeleteBtn {
      width: 30px;
      height: 30px;
      position: relative;
      left: 10mm;
      float: right;
      background-color: red;
    }
    li {
      width: 100%;
      margin: 20px 0;
      background-color: #00a8ff;
      border-radius: 10px;
      line-height: 30px;
      padding-left: 15px;
      color: white;
      span {
        &:first-child {
          display: block;
          margin-bottom: 5px;
          font-weight: 600;
        }
      }
    }
  }
}
